<h1>Create New Landmark: </h1>
<form id="form1" name="form1" method="post" action="/landmarks/:id">
  <label for="name">Name:</label>
  <input type="text" name="Name" id="Name" />
  <label for="year">Year:</label>
  <input type="text" name="Year" id="Year" />
  <input name="Submit" type="button" value="Create Landmark" />
</form>
