<table>
  <tr>
    <th>Name</th>
    <th>Landmarks</th>
    <th>Titles</th>
  </tr>
  <tr>
    <td valign="top"><%= @figure.name %></td>
    <td valign="top">
      <%@figure.landmarks.each do |landmark|%>
    <%=landmark.name  %><br>
    <%end%>
    </td>
    <td valign="top">
      <%@figure.titles.each do |title|%>
    <%=title.name  %><br>
    <%end%>
    </td>
  </tr>
<table>
